@use "colors" as *;

@media (min-width: 992px) {
	.header {
		&__box {
			&-links {
				&-link {
					font-size: 1.6rem;
				}

				&-icon {
					text-align: center;
					font-size: 2rem;
					padding-right: 2rem;
				}
			}
		}
	}
	.nav {
		&__list {
			&-third-stage {
				transform: translate(77%, -24%);
			}
		}

		&__item {
			&-link {
				font-size: 1.7rem;

				&-icon {
					font-size: 1.7rem;
				}
			}
		}
	}
}
