@use "colors" as *;
@use "reset" as *;

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	min-width: 280px;
	position: relative;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

main {
	margin-bottom: 60px;
}

.footer {
	width: 100%;
	height: 60px;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: $dark;

	&__box {
		display: block;
	}
	&__text {
		color: $white;
		padding: 3rem;
	}
}

.center {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.hide {
	display: none;
}

.wrapper {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.show {
	display: block;
}

.header {
	width: 100%;
	background-color: $dark;

	&__box {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		padding: 1.5rem 0;

		&-img {
			width: 100%;
			min-width: 120px;
			max-width: 220px;
		}

		&-links {
			padding-top: 2rem;

			&-link {
				display: none;
			}

			&-icon {
				display: none;
			}
			&-img {
				padding: 1rem;
			}
		}
	}
}

.nav {
	width: 100%;
	position: sticky;
	// position: fixed;
	top: 0;
	background-color: $dark;
	z-index: 1;

	.navbar {
		min-width: 280px;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 3rem 0rem;
		position: relative;
		background-color: $dark;

		&__btn {
			position: absolute;
			margin-left: 5%;
			background: none;
			border: none;
			z-index: 2;

			.fa-bars,
			.fa-x {
				padding: 1.5rem;
				color: $white;
				font-size: 2rem;
			}
		}
	}

	&__list {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 0 1rem;
		background-color: $dark;
	}

	&__item {
		position: relative;
		border-bottom: 1px solid $aztecBlue;
		line-height: 2rem;

		&:last-child {
			border-bottom: 0;
		}

		&:first-child,
		&:last-of-type {
			&:hover .nav__item-link-icon-down {
				color: $white;
			}
		}
		&:hover {
			background-color: $aztecBlue;
		}
		&-box {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
		}

		&-link {
			width: 100%;
			display: inline-block;
			padding: 0.9rem 2rem;
			position: relative;
			background-color: $dark;
			color: $white;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
			font-size: 1.3rem;
			transition: background 0.2s;

			&:hover {
				background-color: $aztecBlue;
			}

			&--special {
				padding-right: 4rem;
				cursor: pointer;
			}
			&-icon {
				right: 10px;
				position: absolute;

				&-down {
					display: inline-block;
					text-align: right;
				}

				&-right {
					display: none;
					text-align: right;
				}
			}
			&-second-stage {
				min-width: 280px;
				padding-left: 3rem;
				transition: background 0.2s;
			}
			&-third-stage {
				min-width: 280px;
				padding-left: 4rem;
				transition: background 0.2s;
			}
		}
		&-second-stage {
			&:hover .nav__item-link-icon {
				color: $white;
			}
		}
		&-second-stage,
		&-third-stage {
			border-bottom: 1px solid $aztecBlue;
		}
		&-second-stage:last-child,
		&-third-stage:last-child {
			border-bottom: 0;
		}
	}
	&--hide {
		display: none;
	}
}

.home {
	min-width: 280px;
	width: 100vw;
	height: 84vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("../../dist/img/kodowanie_640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: top;
	background-position-x: left;

	&__box {
		min-width: 280px;
		width: 100vw;
		height: 84vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 3rem;
		background-color: $shadowGray;

		&-img {
			display: none;
		}

		&-buttons {
			max-width: 400px;
			margin: 2rem 0;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}
	}

	&__header {
		width: 100%;
		min-width: 280px;
		padding: 0 1.5rem;
		padding-bottom: 3.5rem;
		color: $white;
		font-size: 2.8rem;
		text-transform: Capitalize;
		text-align: left;
		font-weight: bold;
		letter-spacing: 2px;
	}
	&__text {
		width: 100%;
		padding: 0 1.5rem;
		padding-bottom: 2rem;
		color: $white;
		font-size: 1.5rem;
		text-align: left;
		letter-spacing: 3px;

		&-span {
			color: $bgBlue;
			font-size: 1.6rem;
		}
	}

	&__button {
		padding: 1rem 0rem;
		border: 1px solid $darkerBlue;
		border-radius: 50px;
		background-color: $aztecBlue;
		transition: color 0.3s, background-color 0.3s;

		&:hover {
			background-color: $white;
			border-color: $dark;
		}
	}
	&__link {
		padding: 1rem 2rem;
		color: $white;
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: bold;
		transition: color 0.3s;

		&:hover {
			color: $black;
		}
	}

	&__img {
		display: none;
	}
}

.about-me {
	width: 100vw;
	min-width: 280px;
	padding: 2rem 2rem 0 2rem;
	background-color: $dark;
	color: $white;
	border-bottom: 1px solid $gray;

	&__box {
		max-width: 1600px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			&-header {
				width: 100%;
				margin: 1rem;
				padding-bottom: 1.5rem;
				color: $bgBlue;
				font-size: 2.8rem;
				text-align: center;
				font-family: roboto;
				letter-spacing: 5px;
			}

			&-text {
				font-size: 1.3rem;
				padding-bottom: 3rem;
			}

			&-info {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-evenly;

				&-data {
					padding: 1rem 0;
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					font-size: 1.2rem;

					&-icon {
						width: 10%;
						color: $aztecBlue;
					}

					&-header {
						width: 45%;
						color: $bgBlue;
					}

					&-text {
						width: 45%;
					}

					&-link {
						color: $white;
						font-style: none;
						text-decoration: none;
					}
				}
			}
		}

		&-img2,
		&-img {
			display: flex;
			align-items: center;
			justify-content: center;

			&-photo {
				width: 85%;
				margin: 3rem;
				padding: 5rem 0;
				box-sizing: border-box;
				border-top: 2px solid $bgBlue;
			}
		}

		&-img {
			display: none;
		}
	}

	&-icon {
		&__section {
			padding-top: 5rem;
			min-width: 280px;
			// background-color: #2d7ae5d2;
		}

		&__header {
			padding: 1.5rem;
			padding-bottom: 5rem;
			font-size: 1.8rem;
			text-align: center;
			font-weight: bold;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			letter-spacing: 2px;
		}

		&__box {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 4rem;
		}

		&__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 20rem;
			height: 20rem;
			background-color: $white;
			box-sizing: border-box;
			margin-bottom: 3rem;
			position: relative;
		}

		&__icons {
			font-size: 120px;

			&-header {
				font-size: 2rem;
				text-transform: uppercase;
				font-weight: bold;
				padding-bottom: 2rem;
			}

			&-html {
				color: #ff5733;
			}

			&-css {
				color: #1a73e8;
			}

			&-javascript {
				color: #f0db4f;
			}

			&-sass {
				color: #cd6799;
			}

			&-bootstrap {
				color: #553c7b;
			}

			&-gulp {
				color: #db4446;
			}

			&-wordpress {
				color: #00749c;
			}
		}
	}
}
