@use "colors" as *;

@media (min-width: 768px) {
	.header {
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 1.5rem 1rem;

			&-img {
				margin: 0;
			}
			&-links {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;

				&-link {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: row;
					padding: 0 1rem;
					font-size: 1.4rem;
					color: $white;
					text-decoration: none;
				}

				&-icon {
					display: block;
					text-align: center;
					padding-right: 0.5rem;
					font-size: 2rem;
					color: $aztecBlue;
				}
				&-svg {
					padding: 0rem;
				}
			}
		}
	}

	.nav {
		.navbar {
			display: none;
		}
		&__list {
			display: flex;
			flex-direction: row;
			position: sticky;
			
			&-third-stage {
				position: absolute;
				transform: translate(74.5%, -24%);
			}

			
		}

		&__item {
			min-width: 105px;
			border-bottom: 0;

			& .nav__list-second-stage {
				position: absolute;
			}

			&-link {
				font-size: 1.5rem;
				&-second-stage {
					min-width: 150px;
					padding-left: 3rem;
				}

				&-third-stage {
					min-width: 200px;
				}
				&--special {
					cursor: default;
				}
				&-icon-down {
					color: $aztecBlue;

					&--special {
						display: none;
					}
				}

				&-icon-right {
					display: inline-block;
					color: $aztecBlue;
				}
			}
		}
		&--hide {
			display: none;
		}
	}
}
