@use "colors" as *;

@media (min-width: 768px) {
	.header {
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 1.5rem 1rem;

			&-img {
				margin: 0;
			}

			&-links {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;

				&-link {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: row;
					padding: 0 1rem;
					color: $white;
					font-size: 1.4rem;
					text-decoration: none;
				}

				&-icon {
					display: block;
					padding-right: 0.5rem;
					color: $aztecBlue;
					text-align: center;
					font-size: 2rem;
				}
				&-svg {
					padding: 0rem;
				}
			}
		}
	}

	.nav {
		.navbar {
			display: none;
		}
		&__list {
			display: flex;
			flex-direction: row;
			justify-content: center;
			position: sticky;

			&-third-stage {
				position: absolute;
				transform: translate(74.5%, -24%);
			}
		}

		&__item {
			min-width: 105px;
			border-bottom: 0;

			& .nav__list-second-stage {
				position: absolute;
			}

			&-link {
				font-size: 1.5rem;
				text-align: center;
				&-second-stage {
					min-width: 150px;
					padding-left: 3rem;
					text-align: left;
				}

				&-third-stage {
					min-width: 200px;
					text-align: left;
				}

				&-icon-down {
					color: $aztecBlue;

					&--special {
						display: none;
					}
				}

				&-icon-right {
					display: inline-block;
					color: $aztecBlue;
				}
			}
		}
		&--hide {
			display: none;
		}
	}

	.home {
		background-image: url("../../dist/img/kodowanie_1920.jpg");

		&__box {
			padding: 6rem;
			&-text {
				width: 100%;
				padding: 0 10rem;
				// display: none;
			}
		}

		&__header {
			font-size: 4rem;
		}

		&__text {
			font-size: 2rem;
			letter-spacing: 5px;

			&-span {
				font-size: 2.1rem;
			}
		}

		&__button {
			padding: 1.5rem 0rem;
		}

		&__link {
			padding: 1.5rem 3rem;
			font-size: 2rem;
		}
	}

	.about-me {
		padding: 7rem 2rem 7rem 2rem;

		&__box {
			flex-direction: row;
			&-text {
				width: 50vw;

				&-header {
					font-size: 4rem;
				}

				&-text {
					font-size: 2rem;
					word-spacing: 1px;
				}
			}

			&-img2,
			&-img {
				width: 50vw;

				&-photo {
					width: 80%;
					border-top: 0;
					border-right: 2px solid $bgBlue;
					padding: 0 5rem 0 0;
				}
			}

			&-img2 {
				display: none;
			}

			&-img {
				display: flex;
			}
		}
	}
}
